input:-webkit-autofill::first-line,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #5F5F5F !important;
  font-size: 14px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #3e4a55;
  border-radius: 2px;
}
.form-article {
  margin: 25px;
}
abbr {
  display: none;
}
label.required:after {
  content: "*";
  color: #e67474;
}
.field_with_errors input {
  border-color: #dc3545 !important;
}
.field_with_errors span {
  color: #dc3545;
  margin-top: 5px;
  margin-bottom: 10px;
}

.action-article a {
  margin-right: 15px;
}
.slug-group .row{
  margin: 0;
}
.pagination {
  justify-content: center;
  background: #f4f6f9;
  padding-bottom: 20px;
}
.pagination li.active {
  background: #f4f6f9;
  background: #343a40;
  color: #fff;
  border-radius: 4px;
}
.pagination a {
  color: #000;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

#post_category_id,
#post_account_id,
#post_author_id {
  border: 1px solid #ced4da;
  padding: 0.46875rem 0.75rem;
  height: calc(2.25rem + 2px);
  width: 100%;
  background: #fff;
  border-radius: 4px;
  outline: none;
}

.create-category {
  float: left;
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 23px;
  color: green;
  display: flex;
}

.image-cover {
  padding: 0;
}

.image-cover img {
  width: 100px;
}

.custom-file {
  height: auto;
}

.custom-file .row {
  padding: 0 15px;
}

.input-group-prepend {
  width: 2%;
  z-index: 1;
}
.post_release_date {
  width: 98%;
}
