－－－－－－－－－－－－－－－－－－－－－－－－－－－－－<br>
Email thông báo tự động từ hệ thống.<br>
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－<br>

<p>Cảm ơn bạn đã sử dụng Bello.</p>

<p>Bấm vào link bên dưới để đặt lại mật khẩu</p>
<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>

※ URL này có hiệu lực trong 24 giờ kể từ thời điểm tiếp nhận.（ngày hết hạn: <%= (Time.zone.now + 24.hours).strftime(Settings.time.formats) %> ）<br>
Khi URL hết hạn, Hãy bấm lại "Quên mật khẩu?"<br><br>

Hảo Trương_Đội ngũ kỹ thuật Bello.
